#!/usr/bin/env bash
#{{ ansible_managed | comment }}

LAST_KERNEL=$(rpm -q --last kernel | awk 'NR==1{sub(/kernel-/,""); print $1}')
CURRENT_KERNEL=$(uname -r)

if [ $LAST_KERNEL != $CURRENT_KERNEL ]; then
    echo 'reboot'
else
    echo 'no'
fi
